.hii,.hello,.hi{
    width: 25%;
    height: 25%;
}
.ji{
    width: 100%;
    height: 100%;
}
.coat{
    margin-left: 50px;
    margin-right: 50px;
   
}
.card-footer,.rust{
    font-family: 'Times New Roman', Times, serif;
    background-color: lavender;
}
.rust{
    background-color: lavender;
}
.inu{
margin-left: 10px;

}
.par{
    font-family: 'Times New Roman', Times, serif;
}
.white{
    margin-top: 198px;
    width: 30%;
}
