.us,.era{
    font-family: 'Times New Roman', Times, serif;
     
}
.we{
    margin-left: 50px;
    margin-right: 50px;
    
}
.well{
     margin-right: 50px;
      width:100%;
}
.era{
color: rgb(81, 110, 139);
    
}
.hoi{
    background-color: lavender;
}
.lop{
    
color:steelblue;
}