.girls {
    margin-left: 50px;
    margin-right: 50px;
}
.run {
    background-color: lavender;
}
.girl {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 50px;
}