.women{
    margin-left: 50px;
    margin-right: 50px;
}
.col{
    font-family: 'Times New Roman', Times, serif;
   background-color:lavender;
}
.stylee{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold ;
    font-size:50px;
}